<div class="mt-2 top-bar">
    <span class="mx-4 mt-2 span-content"><b>Last Updated On:</b> {{ lastUpdated | date:'short' }}</span>
    <button class="btn setting-btn mx-3"><i class="bi bi-person-gear"></i></button>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-4 mb-4" *ngFor="let card of cards">
            <div class="card custom-card">
                <div class="card-body">
                    <h2 class="card-title" [ngStyle]="{'color': getRandomColor()}">{{ card.title }}</h2>
                    <h3 class="card-sub-heading">{{ card.subheading }}</h3>
                    <p class="card-text">{{ card.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>