@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

.custom-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  height: 100%;
}

.custom-card:hover {
  transform: scale(1.05);
}

.container {
  padding: 70px;
  padding-top: 10px;
}

h2 {
  font-size: xxx-large;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h3 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

p {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: smaller;
}

span {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #6d6a6a;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setting-btn {
  background-color: #e8e0e08a;
  padding: revert;
  margin-top: 6px;
}
